@media screen and (max-width: 1450px) {
  .container-fluid {
    width: 80%;
  }
}

@media screen and (max-width: 1023px) {
  .container-fluid {
    width: 95%;
  }
  .section-header {
    font-size: 1rem;
  }
  nav {
    width: 100%;
    margin: auto;
  }
  nav a {
    font-size: 150%;
  }
  .navbar {
    padding: 0 2%;
  }
  h3 {
    font-size: 1.5rem;
  }
  .section-about h3 {
    margin-top: 30px;
  }
  .section-courses h3 {
    margin-top: 30px;
  }
  .header-text {
    top: 50%;
    left: 2%;
  }
  nav a:hover,
  nav a:active {
    color: #cacaca;
    border-bottom: 2px solid transparent;
  }
}
@media screen and (max-width: 767px) {
  .section-header {
    font-size: 1rem;
    background-attachment: initial;
  }
  .header-text a {
    font-size: 0.8rem;
  }
  section {
    padding: 40px 0;
  }
  h2 {
    font-size: 2rem;
  }
  p {
    font-size: 1.1rem;
    margin: 0 auto 50px 10px;
  }
  nav {
    width: 100%;
  }
  nav a {
    font-size: 150%;
  }
  .navbar {
    padding: 0 3%;
  }
  .header-text {
    top: 40%;
    left: 2%;
  }
  .section-about h3 {
    margin-left: 10px;
  }

  .section-courses h3 {
    margin-left: 10px;
  }
  .footer-contact {
    text-align: center;
    margin-bottom: 7px;
  }
  footer p {
    margin-top: 10px;
  }
}
